.bigButton{
  background-color: #1D8FD6;
  border-radius: 10px;
  elevation: 2px;
  margin: 5px 0;
  min-width: 95%;
}

.bigButton_Text{
  font-size: 24px;
  color: white;
  padding: 10px;
  text-align: center;
}
