
.addShedule{
  width: 100%;
  height: 100%;
}

.addShedule_Scroll{
  width: 90%;
  align-self: center;
}

.addShedule_TimePickerContainer{
  flex-direction: row;
  justify-content: space-between;
}

.addSheduleSave{
  margin-top: 10px;
  padding-bottom: 25px;
}
